<h3>Listing of Pets, or you can <%= link_to 'Add a Pet', new_pet_path %></h3>

<div class="filters">
Filter by
<%= form_for :filter, method: :get do |f| %>
  <fieldset>
    <%= f.text_field :name, placeholder: 'Name of pet' %>
  </fieldset>
  <fieldset>
    <%= f.date_select :date_of_birth, start_year: 1980, end_year: Date.today.year, prompt: true %>
  </fieldset>
  <fieldset>
    <%= f.select(:pet_type, Pet.pet_types.keys.map {|pet_type| [pet_type.titleize,pet_type]}, prompt: 'Type of Pet') %>
  </fieldset>
  <fieldset>
    <%= f.submit 'Filter', name: nil, value: 'Filter' %>
  </fieldset>
<% end %>
</div>


<table class="pets-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Type (dog, cat...)</th>
    </tr>
  </thead>
  <tbody>
    <% @pets.each do |pet| %>
    <tr>
      <td><%=pet.name%></td>
      <td><%=pet.date_of_birth%></td>
      <td><%=pet.pet_type.titleize%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @pets %>